In [1]:
import pandas as pd

In [116]:
data = pd.read_csv(r'C:\Coding\ML\data\us-500.csv', index_col = 'last_name')
data.drop('web', axis = 1, inplace = True)
data.head()

,first_name,company_name,address,city,county,state,zip,phone1,phone2,email
last_name,,,,,,,,,,
Butt,James,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com
Darakjy,Josephine,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org
Venere,Art,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org
Paprocki,Lenna,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com
Foller,Donette,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net

In [31]:
data.iloc[0]

first_name                   James
company_name     Benton, John B Jr
address         6649 N Blue Gum St
city                   New Orleans
county                     Orleans
state                           LA
zip                          70116
phone1                504-621-8927
phone2                504-845-1427
email              jbutt@gmail.com
Name: Butt, dtype: object

In [28]:
data.iloc[[0, 1, 2]]

,first_name,company_name,address,city,county,state,zip,phone1,phone2,email
last_name,,,,,,,,,,
Butt,James,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com
Darakjy,Josephine,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org
Venere,Art,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org

In [32]:
data.iloc[0:5]

,first_name,company_name,address,city,county,state,zip,phone1,phone2,email
last_name,,,,,,,,,,
Butt,James,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com
Darakjy,Josephine,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org
Venere,Art,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org
Paprocki,Lenna,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com
Foller,Donette,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net

In [33]:
data.iloc[2:11]

,first_name,company_name,address,city,county,state,zip,phone1,phone2,email
last_name,,,,,,,,,,
Venere,Art,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org
Paprocki,Lenna,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com
Foller,Donette,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net
Morasca,Simona,"Chapman, Ross E Esq",3 Mcauley Dr,Ashland,Ashland,OH,44805,419-503-2484,419-800-6759,simona@morasca.com
Tollner,Mitsue,Morlong Associates,7 Eads St,Chicago,Cook,IL,60632,773-573-6914,773-924-8565,mitsue_tollner@yahoo.com
Dilliard,Leota,Commercial Press,7 W Jackson Blvd,San Jose,Santa Clara,CA,95111,408-752-3500,408-813-1105,leota@hotmail.com
Wieser,Sage,Truhlar And Truhlar Attys,5 Boston Ave #88,Sioux Falls,Minnehaha,SD,57105,605-414-2147,605-794-4895,sage_wieser@cox.net
Marrier,Kris,"King, Christopher A Esq",228 Runamuck Pl #2808,Baltimore,Baltimore City,MD,21224,410-655-8723,410-804-4694,kris@gmail.com
Amigon,Minna,"Dorl, James J Esq",2371 Jerrold Ave,Kulpsville,Montgomery,PA,19443,215-874-1229,215-422-8694,minna_amigon@yahoo.com

In [45]:
data.iloc[100:]

,first_name,company_name,address,city,county,state,zip,phone1,phone2,email
last_name,,,,,,,,,,
Buemi,Alease,Porto Cayo At Hawks Cay,4 Webbs Chapel Rd,Boulder,Boulder,CO,80303,303-301-4946,303-521-9860,alease@buemi.com
Cronauer,Louisa,Pacific Grove Museum Ntrl Hist,524 Louisiana Ave Nw,San Leandro,Alameda,CA,94577,510-828-7047,510-472-7758,louisa@cronauer.com
Cetta,Angella,Bender & Hatley Pc,185 Blackstone Bldge,Honolulu,Honolulu,HI,96817,808-892-7943,808-475-2310,angella.cetta@hotmail.com
Goldammer,Cyndy,Di Cristina J & Son,170 Wyoming Ave,Burnsville,Dakota,MN,55337,952-334-9408,952-938-9457,cgoldammer@cox.net
Cork,Rosio,Green Goddess,4 10th St W,High Point,Guilford,NC,27263,336-243-5659,336-497-4407,rosio.cork@gmail.com
...,...,...,...,...,...,...,...,...,...,...
Gillaspie,Brittni,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848,bgillaspie@gillaspie.com
Kampa,Raylene,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884,rkampa@kampa.org
Bookamer,Flo,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987,flo.bookamer@cox.net
Biddy,Jani,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284,jbiddy@yahoo.com
Motley,Chauncey,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857,chauncey_motley@aol.com

In [56]:
data.iloc[-1]

first_name                        Chauncey
company_name    Affiliated With Travelodge
address                     63 E Aurora Dr
city                               Orlando
county                              Orange
state                                   FL
zip                                  32804
phone1                        407-413-4842
phone2                        407-557-8857
email              chauncey_motley@aol.com
Name: Motley, dtype: object

In [57]:
data.iloc[-5:]

,first_name,company_name,address,city,county,state,zip,phone1,phone2,email
last_name,,,,,,,,,,
Gillaspie,Brittni,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848,bgillaspie@gillaspie.com
Kampa,Raylene,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884,rkampa@kampa.org
Bookamer,Flo,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987,flo.bookamer@cox.net
Biddy,Jani,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284,jbiddy@yahoo.com
Motley,Chauncey,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857,chauncey_motley@aol.com

In [61]:
data.iloc[:, 0]

last_name
Butt             James
Darakjy      Josephine
Venere             Art
Paprocki         Lenna
Foller         Donette
               ...
Gillaspie      Brittni
Kampa          Raylene
Bookamer           Flo
Biddy             Jani
Motley        Chauncey
Name: first_name, Length: 500, dtype: object

In [62]:
data.iloc[[0]]

,first_name,company_name,address,city,county,state,zip,phone1,phone2,email
last_name,,,,,,,,,,
Butt,James,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com

In [110]:
data.loc['Biddy', 'city']

'Seattle'

In [121]:
data.reset_index(inplace = True)
data.set_index('first_name', inplace = True)
data.drop('index', axis = 1, inplace = True)

In [124]:
data.loc['Lenna']

,last_name,company_name,address,city,county,state,zip,phone1,phone2,email
first_name,,,,,,,,,,
Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com
Lenna,Newville,"Brooks, Morris J Jr",987 Main St,Raleigh,Wake,NC,27601,919-623-2524,919-254-5987,lnewville@newville.com

In [165]:
my_clients = data.loc[data.loc[:, 'state'] == 'OH']
my_clients.head()

,last_name,company_name,address,city,county,state,zip,phone1,phone2,email
first_name,,,,,,,,,,
Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net
Simona,Morasca,"Chapman, Ross E Esq",3 Mcauley Dr,Ashland,Ashland,OH,44805,419-503-2484,419-800-6759,simona@morasca.com
Graciela,Ruta,Buckley Miller & Wright,98 Connecticut Ave Nw,Chagrin Falls,Geauga,OH,44023,440-780-8425,440-579-7763,gruta@cox.net
Ammie,Corrio,"Moskowitz, Barry S",74874 Atlantic Ave,Columbus,Franklin,OH,43215,614-801-9788,614-648-3265,ammie@corrio.com
Tamar,Hoogland,A K Construction Co,2737 Pistorio Rd #9230,London,Madison,OH,43140,740-343-8575,740-526-5410,tamar@hotmail.com

In [159]:
my_clients.shape[0]

22

In [166]:
data.loc[:, 'state'] == 'OH'

first_name
James        False
Josephine    False
Art          False
Lenna        False
Donette       True
             ...
Brittni      False
Raylene      False
Flo          False
Jani         False
Chauncey     False
Name: state, Length: 500, dtype: bool

In [169]:
data.loc[data.loc[:, 'email'].str.endswith('gmail.com')].head()

,last_name,company_name,address,city,county,state,zip,phone1,phone2,email
first_name,,,,,,,,,,
James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com
Kris,Marrier,"King, Christopher A Esq",228 Runamuck Pl #2808,Baltimore,Baltimore City,MD,21224,410-655-8723,410-804-4694,kris@gmail.com
Abel,Maclead,Rangoni Of Florence,37275 St Rt 17m M,Middle Island,Suffolk,NY,11953,631-335-3414,631-677-3675,amaclead@gmail.com
Cammy,Albares,"Rousseaux, Michael Esq",56 E Morehead St,Laredo,Webb,TX,78045,956-537-6195,956-841-7216,calbares@gmail.com
Alishia,Sergi,Milford Enterprises Inc,2742 Distribution Way,New York,New York,NY,10025,212-860-1579,212-753-2740,asergi@gmail.com

In [177]:
data.loc[(data.loc[:, 'state'] == 'OH') & (data.loc[:, 'city'] == 'Hamilton')]

,last_name,company_name,address,city,county,state,zip,phone1,phone2,email
first_name,,,,,,,,,,
Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net

In [178]:
state_ohio = data.loc[:, 'state'] == 'OH'
city_Hamilton = data.loc[:, 'city'] == 'Hamilton'
data.loc[state_ohio & city_Hamilton]

,last_name,company_name,address,city,county,state,zip,phone1,phone2,email
first_name,,,,,,,,,,
Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net